body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  /* background-image: url("./assets/images/png/default-bg.png"); */
  background-color: #93b8c1;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-text-justify {
  text-align: justify;
}

.custom-sticky-sidebar {
  top: 0 !important; 
  height: 100vh !important;
  overflow-y: auto !important;
  position: sticky !important;
}
