body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  /* background-image: url("./assets/images/png/default-bg.png"); */
  background-color: #93b8c1;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-text-justify {
  text-align: justify;
}

.custom-sticky-sidebar {
  top: 0 !important; /* Adjust as needed based on your layout */
  height: 100vh !important; /* Make sure it takes the full height of the viewport */
  overflow-y: auto !important; /* Add vertical scrolling if the content overflows */
  position: sticky !important;
}

.active {
  background-color: #007bff; /* Highlight color */
  cursor: pointer; /* Change cursor on hover */
}